* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8f8ff;
  font-family: "Zen Antique", serif;
}

/* Header */

.head {
  height: 70px;
  padding-left: 25px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.head h1,
.head img {
  vertical-align: middle;
  padding-right: 10px;
}

.head h1 {
  display: inline-block;
  font-size: 30px;
}

.head img {
  height: 80%;
}

.float-head {
  float: right;
  padding-top: 50px;
  padding-right: 40px;
  font-size: 40px;
  font-family: "Italianno", cursive;
}

/* Navbar */

nav ul {
  list-style: none;
  padding-left: 25px;
  margin-bottom: 25px;
}

ul li {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

li a {
  color: #000;
  cursor: pointer;
  font-weight: bold;
  width: 70px;
  text-decoration: none;
  text-transform: uppercase;
}

li a::after {
  content: "\2228";
  padding-left: 10px;
}

li a:hover {
  padding-bottom: 15px;
  border-bottom: 4px solid #b22222;
}

/* Jumbotron */

section .container {
  height: calc(100vh - 170px);
  background: url("../img/alfa-romeo-giulia-gta-m-2021.jpg") center;
  background-size: cover;
}

section div:nth-child(2) {
  height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-top: 4px;
}

section div:nth-child(2)::after {
  content: "\2228";
  padding-left: 5px;
}

/* Main */

.row.float {
  width: 100%;
  margin: 20px 0;
}

.row.float::after {
  content: "";
  display: table;
  clear: both;
}

.space {
  float: left;
}

.space.bar {
  width: 20%;
  background-color: #fff;
}

.space.main {
  width: 80%;
  padding-left: 20px;
}

.space.main .inside {
  background-color: #ccc;
}
