* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8f8ff;
  font-family: "Zen Antique", serif;
}

/* Header */

.head {
  height: 100px;
  padding-left: 25px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.head h1,
.head img {
  vertical-align: middle;
  padding-right: 10px;
}

.head h1 {
  display: inline-block;
  font-size: 30px;
}

.head img {
  height: 80%;
}

/* Navbar */

nav ul {
  list-style: none;
  padding-left: 25px;
}

ul li {
  display: inline-block;
  margin-right: 40px;
  padding-bottom: 30px;
  width: 70px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

ul li:hover {
  border-bottom: 4px solid #b22222;
}
