* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Arsenal', sans-serif;
}

body {
  padding-left: 2vw;
  padding-right: 2vw;
  background-image: url(https://besthqwallpapers.com/Uploads/9-7-2021/169100/alfa-romeo-3d-white-logo-gray-background-alfa-romeo-logo-creative-3d-art-alfa-romeo.jpg);
  background-size: cover;
}

header {
  height: 20vh;
  text-align: center;
  padding: 10px;
}

header>h1 {
  height: 50%;
  font-style: oblique;
  margin-top: 1vh;
  color: firebrick;
  text-decoration: underline;
}

header #scritta {
  float: right;
  font-family: 'Italianno', cursive;
  font-size: 200%;
}

header>.logo {
  height: 50%;
  width: auto;
  background-image: url(https://upload.wikimedia.org/wikipedia/it/thumb/c/c7/Alfa_Romeo_2015.svg/1200px-Alfa_Romeo_2015.svg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

h1, .logo {
  margin-bottom: 1%;
}

hr {
  margin-top: 5%;
  margin-bottom: 1%;
  height: 8px;
  border-radius: 10%;
  background-color: black;
}

.container {
  height: 80vh;
  position: relative;
}

.curtain, .bar {
  display: inline-block;
  border-radius: 1%;
  border: 3px solid black;
}

.container>.curtain {
  height: 100%;
  width: 20%;
  background-color: rgba(178, 34, 34, 0.8);
}

.curtain>.button {
  text-align: center;
  height: 33%;
  position: relative;
}

.button>.menu {
  background-color: rgba(0, 0, 0, 0.8);
  color: ghostwhite;
  border-radius: 5%;
  font-size: 150%;
  width: 80%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.button::after {
  content: "\279B";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 200%;
}

#curtaintitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container>.bar {
  margin-top: 1%;
  margin-left: 20px;
  height: 28%;
  width: 79%;
  background-color: rgba(0, 0, 0, 0.8);
}

.bar.first {
  position: absolute;
  top: 0;
}

.bar.second {
  position: absolute;
  top: 33.3333333333333333%;
}

.bar.third {
  height: 20%;
  width: 50%;
  position: absolute;
  top: 71%;
  right: 40%;
  transform: translateX(50%);
}

.bar>.alfa {
  height: 100%;
  width: 25%;
  float: left;
  color: ghostwhite;
  text-decoration: none;
}

.alfa>.mito, .giulietta, .giulia, .stelvio {
  height: 80%;
}

.alfa>.mito {
  background-image: url(https://www.totorizzo.com/home_directory/schede-auto/auto/mito1.jpg);
}

.alfa>.giulietta {
  background-image: url(https://img.wallpapic.it/i7389-527-411/thumb/automobili-alfa-romeo-giulietta-berlina-sfondo.jpg);
}

.alfa>.giulia {
  background-image: url(https://www.happyrent.it/img/veicoli/1561031377noleggio-a-lungo-termine-alfa-romeo-giulia-turbo-diesel-happyrent-it-offerta.png);
}

.alfa>.stelvio {
  background-image: url(https://img3.stcrm.it/images/12651558/1400x/00047090.jpg);
}

.bar>.engine {
  width: 25%;
  height: 100%;
  float: left;
}

.engine>.one, .two, .three, .four {
  height: 75%;
  width: 70%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.engine>.one {
  background-image: url(https://www.netcarshow.com/Alfa_Romeo-MiTo_Quadrifoglio_Verde-2014-1600-35.jpg);
}

.engine>.two {
  background-image: url(https://www.conceptcarz.com/images/Alfa%20Romeo/2014-Alfa-Romeo-Giulietta-e01-1024.jpg);
}

.engine>.three {
  background-image: url(https://www.evomagazine.it/files/articoli/6/0/9/60977/B_i-segreti-del-v6-dell-alfa-romeo-giulia-quadrifoglio_1.jpg);
}

.engine>.four {
  background-image: url(https://cdn.veloce.it/wp-content/uploads/2019/06/Alfaromeo-stelvioquadrifoglio171203_Alfa-Romeo_Stelvio-Quadrifoglio-29-V6-510HP-Engine-1.jpg);
}

.bar .mito, .giulietta, .giulia, .stelvio, .one, .two, .three, .four {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bar .name {
  height: 20%;
  width: 58.2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.6%;
  color: ghostwhite;
  font-family: 'Italianno', cursive;
  font-size: 160%;
}

.name:hover {
  background-color: ghostwhite;
  color: black;
  border: 1px solid black;
  border-radius: 4%;
}

.bar>.store {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

.bar>.store>a:hover {
  background-color: ghostwhite;
  color: black;
  border: 3px solid black;
  border-radius: 10%;
  width: 50%;
  line-height: 170%;
  text-align: center;
}

.store>a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
  color: ghostwhite;
  text-decoration: none;
}

.store>a::before {
  content: "\2713"
}

.store>a:visited {
  color: violet;
}

footer {
  height: 5vh;
  width: 100%;
  position: relative;
}

span {
  display: inline-block;
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
}

footer>span::after {
  margin-left: 1%;
  content: "\00AE"
}
